.form__item {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
}

.form__button {
   display: block;
   margin-left: auto;
   margin-left: auto;
   font-size: 15px;
   font-weight: 700;
   outline: none;
   border: none;
   background-color: transparent;
   color: #0090b4;
   cursor: pointer;
}