.form__item {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.form__button {
   font-size: 15px;
   font-weight: 700;
   outline: none;
   border: none;
   background-color: transparent;
   color: #0090b4;
   cursor: pointer;
}

.form__button:hover {
   color: #006680;
}

.form__label {
   font-size: 22px;
   margin-bottom: 10px;
}

.form__input {
   padding: 10px;
   min-height: 20px;
   border-radius: 5px;
   border: 1px solid #ddd;
   font-size: 18px;
   font-family: 'Cabin', sans-serif;
   resize: vertical;
   white-space: pre;
}

.form__input-description {
   min-height: 50px;
}

.form__input-text {
   min-height: 150px;
}

.form__input:focus {
   outline: 0;
   border: 1px solid #0090b4;
}

.form__item-error-message {
   font-size: 15px;
   font-weight: 700;
   color: #ff3c00;
}

.form__item-error-wrapper {
   display: flex;
   height: 20px;
   justify-content: space-between;
}