.blog {
   max-width: 970px;
   margin: 100px auto;
   padding: 30px 40px;
}

.open-form-button,
.close-form-button {
   display: block;
   margin-left: auto;
   font-size: 15px;
   font-weight: 700;
   outline: none;
   border: none;
   background-color: transparent;
   color: #0090b4;
   cursor: pointer;
}

.close-form-button {
   margin-bottom: 20px;
}