.comment-item {
   border-bottom: 1px solid #dddddd;
   margin-bottom: 20px;
   padding-bottom: 12px;
}

.comment-item__wrapper {
   display: flex;
   justify-content: space-between;
}

.comment-item__name {
   color: #000000;
   font-size: 20px;
}

.comment-item__text {
   margin-top: 7px;
   font-size: 16px;
}

.comment-item__right-side-wrapper {
   text-align: right;
}

.comment-item__current-date {
   min-width: 100px;
   font-size: 14px;
   margin-top: 5px;
   margin-bottom: 7px;
}

.comment-item__btn {
   display: inline;
   margin-left: auto;
   font-size: 13px;
   font-weight: 700;
   outline: none;
   border: none;
   background-color: transparent;
   color: #0090b4;
   cursor: pointer;
}

.comment-item__btn:hover {
   color: #ff3c00;
}